openapi: 3.0.3

# document_type: Normative
# status: Active
# source_of_truth: YES
# verified_against_code: Yes
# last_updated: "2026-03-20"

info:
  title: PFM Bot API
  version: "1"
  description: |
    Personal Finance Manager — Telegram Mini App backend.

    **Base URL:** `https://mytodaylimit.ru`

    **Monetary values:** All money fields are integers in **minor units**
    (kopecks for RUB, cents for USD). Example: `15000000` = 150 000.00 ₽

    **Authentication:**
    - `/tg/*` routes: `x-tg-init-data` header containing the URL-encoded
      `window.Telegram.WebApp.initData` string. Validated via HMAC-SHA256 with
      the bot token. `auth_date` must be < 1 hour old.
    - `/internal/*` routes: `x-internal-key` header equal to the `ADMIN_KEY`
      environment variable. Used by the bot service only.
    - Dev bypass (non-production only): `x-tg-dev: <telegramId>` skips HMAC.

    **Calculation policy:** `s2sToday` and `s2sDaily` in dashboard and
    recalculate responses are computed live on every request, not read from the
    stored `Period.s2sDaily` snapshot. See formulas-and-calculation-policy.md.

    **Error format (current):** `{ "error": "string" }`. A machine-readable
    `code` field and `requestId` are planned but not yet implemented.

  contact:
    name: PFM Bot

servers:
  - url: https://mytodaylimit.ru
    description: Production
  - url: http://localhost:3002
    description: Local development

# ── Security Schemes ──────────────────────────────────────────────────────────

components:
  securitySchemes:
    TelegramAuth:
      type: apiKey
      in: header
      name: x-tg-init-data
      description: |
        URL-encoded Telegram WebApp initData string.
        Validated using HMAC-SHA256; auth_date must be less than 1 hour old.
        In non-production environments, `x-tg-dev: <telegramId>` may be used
        instead to bypass HMAC validation.

    InternalKey:
      type: apiKey
      in: header
      name: x-internal-key
      description: |
        Must equal the ADMIN_KEY environment variable.
        Used exclusively by the bot service for internal routes.

  # ── Reusable Schemas ─────────────────────────────────────────────────────────

  schemas:

    # --- Primitives ---

    MoneyAmount:
      type: integer
      description: "Amount in minor units (kopecks for RUB, cents for USD). Example: 150000 = 1500.00 ₽"
      example: 15000000

    Currency:
      type: string
      enum: [RUB, USD]
      description: ISO 4217 currency code (subset)
      example: RUB

    S2SStatus:
      type: string
      enum: [OK, WARNING, OVERSPENT, DEFICIT]
      description: |
        DEFICIT: s2sPeriod <= 0
        OVERSPENT: today's spending exceeds s2sDaily
        WARNING: s2sToday / s2sDaily <= 0.30
        OK: none of the above

    ObligationType:
      type: string
      enum: [RENT, UTILITIES, SUBSCRIPTION, TELECOM, INSURANCE, ENVELOPE, OTHER]

    DebtType:
      type: string
      enum: [CREDIT, MORTGAGE, CREDIT_CARD, CAR_LOAN, PERSONAL_LOAN, OTHER]

    IncomeFrequency:
      type: string
      enum: [MONTHLY, BIWEEKLY, WEEKLY, IRREGULAR]

    # --- Core entities ---

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error message
          example: "No active period. Complete onboarding first."

    Income:
      type: object
      required: [id, userId, title, amount, currency, frequency, paydays, isActive, createdAt, updatedAt]
      properties:
        id:
          type: string
          description: CUID
        userId:
          type: string
        title:
          type: string
        amount:
          $ref: '#/components/schemas/MoneyAmount'
          description: Kopecks per month
        currency:
          $ref: '#/components/schemas/Currency'
        frequency:
          $ref: '#/components/schemas/IncomeFrequency'
        paydays:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 31
          description: Days of month when income is received
          example: [5, 20]
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Obligation:
      type: object
      required: [id, userId, title, type, amount, isActive, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        type:
          $ref: '#/components/schemas/ObligationType'
        amount:
          $ref: '#/components/schemas/MoneyAmount'
          description: Kopecks per month
        dueDay:
          type: integer
          minimum: 1
          maximum: 31
          nullable: true
          description: Day of month payment is due
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Debt:
      type: object
      required: [id, userId, title, type, balance, apr, minPayment, isFocusDebt, isPaidOff, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        type:
          $ref: '#/components/schemas/DebtType'
        balance:
          $ref: '#/components/schemas/MoneyAmount'
          description: Current remaining balance in kopecks
        apr:
          type: number
          format: float
          description: Annual percentage rate as a decimal fraction (e.g. 0.189 = 18.9%)
          example: 0.189
        minPayment:
          $ref: '#/components/schemas/MoneyAmount'
          description: Minimum monthly payment in kopecks
        dueDay:
          type: integer
          minimum: 1
          maximum: 31
          nullable: true
        isFocusDebt:
          type: boolean
          description: Whether this debt receives the avalanche extra payment
        isPaidOff:
          type: boolean
        paidOffAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Expense:
      type: object
      required: [id, userId, periodId, amount, source, spentAt, createdAt]
      properties:
        id:
          type: string
        userId:
          type: string
        periodId:
          type: string
        amount:
          $ref: '#/components/schemas/MoneyAmount'
        note:
          type: string
          nullable: true
        source:
          type: string
          enum: [MANUAL, IMPORT]
        spentAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    Period:
      type: object
      required: [id, userId, startDate, endDate, totalIncome, totalObligations, totalDebtPayments, efContribution, reserve, s2sPeriod, s2sDaily, status, daysTotal, currency, isProratedStart, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        totalIncome:
          $ref: '#/components/schemas/MoneyAmount'
        totalObligations:
          $ref: '#/components/schemas/MoneyAmount'
        totalDebtPayments:
          $ref: '#/components/schemas/MoneyAmount'
        efContribution:
          $ref: '#/components/schemas/MoneyAmount'
        reserve:
          $ref: '#/components/schemas/MoneyAmount'
        s2sPeriod:
          $ref: '#/components/schemas/MoneyAmount'
          description: Total safe-to-spend for the entire period
        s2sDaily:
          $ref: '#/components/schemas/MoneyAmount'
          description: >
            SNAPSHOT taken at period creation or recalculation.
            The live carry-over adjusted value is computed on each request —
            see GET /tg/dashboard.
        status:
          type: string
          enum: [ACTIVE, COMPLETED, DEFICIT]
        daysTotal:
          type: integer
        currency:
          $ref: '#/components/schemas/Currency'
        isProratedStart:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    S2SResult:
      type: object
      description: >
        Live S2S calculation result. s2sDaily and s2sToday are computed on
        every request using carry-over formula, not read from Period.s2sDaily.
      required: [totalIncome, totalObligations, totalDebtPayments, avalanchePool, efContribution, reserve, residual, s2sPeriod, daysTotal, daysLeft, daysElapsed, s2sDaily, s2sToday, status, s2sColor, periodSpent, periodRemaining]
      properties:
        totalIncome:
          $ref: '#/components/schemas/MoneyAmount'
          description: Income attributed to this period
        totalObligations:
          $ref: '#/components/schemas/MoneyAmount'
        totalDebtPayments:
          $ref: '#/components/schemas/MoneyAmount'
          description: Sum of debt minimum payments
        avalanchePool:
          $ref: '#/components/schemas/MoneyAmount'
          description: Extra allocation to focus debt
        efContribution:
          $ref: '#/components/schemas/MoneyAmount'
        reserve:
          $ref: '#/components/schemas/MoneyAmount'
          description: "10% buffer (reduced to 5% or 0 if budget is tight)"
        residual:
          $ref: '#/components/schemas/MoneyAmount'
          description: Raw s2sPeriod before max(0) clamp
        s2sPeriod:
          $ref: '#/components/schemas/MoneyAmount'
          description: Total safe to spend for the entire period
        daysTotal:
          type: integer
        daysLeft:
          type: integer
        daysElapsed:
          type: integer
        s2sDaily:
          $ref: '#/components/schemas/MoneyAmount'
          description: "Per-day limit, carry-over adjusted (LIVE: (s2sPeriod - periodSpent) / daysLeft)"
        s2sToday:
          $ref: '#/components/schemas/MoneyAmount'
          description: Remaining budget for today after expenses (LIVE)
        status:
          $ref: '#/components/schemas/S2SStatus'
        s2sColor:
          type: string
          enum: [green, orange, red]
        periodSpent:
          $ref: '#/components/schemas/MoneyAmount'
          description: Total expenses in period so far
        periodRemaining:
          $ref: '#/components/schemas/MoneyAmount'
          description: "s2sPeriod - periodSpent, clamped to 0"

    UserSettings:
      type: object
      required: [id, userId, morningNotifyTime, eveningNotifyTime, morningNotifyEnabled, eveningNotifyEnabled, paymentAlerts, deficitAlerts, weeklyDigest, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        morningNotifyTime:
          type: string
          pattern: '^\d{2}:\d{2}$'
          example: "09:00"
          description: Default "09:00"
        eveningNotifyTime:
          type: string
          pattern: '^\d{2}:\d{2}$'
          example: "21:00"
          description: Default "21:00"
        morningNotifyEnabled:
          type: boolean
        eveningNotifyEnabled:
          type: boolean
        paymentAlerts:
          type: boolean
        deficitAlerts:
          type: boolean
        weeklyDigest:
          type: boolean
          description: >
            DEAD SETTING — accepted and stored, but no cron job or handler
            sends a weekly digest. Setting to true has no observable effect.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Subscription:
      type: object
      required: [id, userId, planCode, status, starsPrice, currentPeriodStart, currentPeriodEnd, cancelAtPeriodEnd, createdAt, updatedAt]
      properties:
        id:
          type: string
        userId:
          type: string
        planCode:
          type: string
          example: PRO
        status:
          type: string
          enum: [ACTIVE, CANCELLED, EXPIRED]
        starsPrice:
          type: integer
          description: Telegram Stars amount
          example: 100
        telegramChargeId:
          type: string
          nullable: true
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        cancelledAt:
          type: string
          format: date-time
          nullable: true
        cancelAtPeriodEnd:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DashboardResponse:
      type: object
      required: [onboardingDone, s2sToday, s2sDaily, s2sStatus, daysLeft, daysTotal, periodStart, periodEnd, periodSpent, s2sPeriod, todayExpenses, todayTotal, focusDebt, debts, emergencyFund, currency]
      properties:
        onboardingDone:
          type: boolean
        s2sToday:
          $ref: '#/components/schemas/MoneyAmount'
          description: Remaining budget for today (LIVE)
        s2sDaily:
          $ref: '#/components/schemas/MoneyAmount'
          description: >
            Per-day limit, carry-over adjusted (LIVE).
            This is dynamicS2sDaily, NOT Period.s2sDaily.
        s2sStatus:
          $ref: '#/components/schemas/S2SStatus'
        daysLeft:
          type: integer
        daysTotal:
          type: integer
        periodStart:
          type: string
          format: date-time
        periodEnd:
          type: string
          format: date-time
        periodSpent:
          $ref: '#/components/schemas/MoneyAmount'
        s2sPeriod:
          $ref: '#/components/schemas/MoneyAmount'
        todayExpenses:
          type: array
          items:
            $ref: '#/components/schemas/Expense'
        todayTotal:
          $ref: '#/components/schemas/MoneyAmount'
        focusDebt:
          nullable: true
          type: object
          required: [id, title, apr, balance, minPayment, type]
          properties:
            id:
              type: string
            title:
              type: string
            apr:
              type: number
              format: float
            balance:
              $ref: '#/components/schemas/MoneyAmount'
            minPayment:
              $ref: '#/components/schemas/MoneyAmount'
            type:
              $ref: '#/components/schemas/DebtType'
        debts:
          type: array
          items:
            type: object
            required: [id, title, apr, balance, minPayment, type, isFocusDebt]
            properties:
              id:
                type: string
              title:
                type: string
              apr:
                type: number
                format: float
              balance:
                $ref: '#/components/schemas/MoneyAmount'
              minPayment:
                $ref: '#/components/schemas/MoneyAmount'
              type:
                $ref: '#/components/schemas/DebtType'
              isFocusDebt:
                type: boolean
        emergencyFund:
          nullable: true
          type: object
          required: [currentAmount, targetAmount]
          properties:
            currentAmount:
              $ref: '#/components/schemas/MoneyAmount'
            targetAmount:
              $ref: '#/components/schemas/MoneyAmount'
              description: obligations_sum × targetMonths
        currency:
          $ref: '#/components/schemas/Currency'

  # ── Reusable Responses ────────────────────────────────────────────────────────

  responses:
    Unauthorized:
      description: Missing, invalid, or stale authentication header
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Stale init data"

    NotFound:
      description: Resource not found or not owned by user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Not found"

    BadRequest:
      description: Validation failure — missing or invalid fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

# ── Paths ─────────────────────────────────────────────────────────────────────

paths:

  # ── Health ──────────────────────────────────────────────────────────────────

  /health:
    get:
      summary: Basic health check
      operationId: getHealth
      tags: [Health]
      x-stability: stable
      responses:
        '200':
          description: Service is running
          content:
            application/json:
              schema:
                type: object
                required: [ok, timestamp]
                properties:
                  ok:
                    type: boolean
                    example: true
                  timestamp:
                    type: string
                    format: date-time

  /health/deep:
    get:
      summary: Deep health check including database
      operationId: getHealthDeep
      tags: [Health]
      x-stability: stable
      description: Runs `SELECT 1` against the database to verify connectivity.
      responses:
        '200':
          description: Service and database are healthy
          content:
            application/json:
              schema:
                type: object
                required: [ok, db, timestamp]
                properties:
                  ok:
                    type: boolean
                    example: true
                  db:
                    type: boolean
                    example: true
                  timestamp:
                    type: string
                    format: date-time
        '503':
          description: Database unavailable
          content:
            application/json:
              schema:
                type: object
                required: [ok, db, error]
                properties:
                  ok:
                    type: boolean
                    example: false
                  db:
                    type: boolean
                    example: false
                  error:
                    type: string

  # ── Onboarding ───────────────────────────────────────────────────────────────

  /tg/onboarding/status:
    get:
      summary: Get onboarding status
      operationId: getOnboardingStatus
      tags: [Onboarding]
      x-stability: stable
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Onboarding status
          content:
            application/json:
              schema:
                type: object
                required: [onboardingDone]
                properties:
                  onboardingDone:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/onboarding/income:
    post:
      summary: Set income (replace semantics)
      operationId: postOnboardingIncome
      tags: [Onboarding]
      x-stability: stable
      description: >
        Deletes ALL existing income records for the user, then creates one new
        income. Also updates user.primaryCurrency. This is replace semantics,
        not append.
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, paydays]
              properties:
                amount:
                  $ref: '#/components/schemas/MoneyAmount'
                  description: Must be > 0
                paydays:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                    maximum: 31
                  minItems: 1
                  example: [5, 20]
                currency:
                  $ref: '#/components/schemas/Currency'
                  description: Default "RUB"
                title:
                  type: string
                  description: Default "Основной доход"
      responses:
        '200':
          description: Created income record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Income'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/onboarding/obligations:
    post:
      summary: Set obligations (replace semantics)
      operationId: postOnboardingObligations
      tags: [Onboarding]
      x-stability: stable
      description: Replaces all obligations. Pass an empty array to clear all.
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [obligations]
              properties:
                obligations:
                  type: array
                  items:
                    type: object
                    required: [title, amount]
                    properties:
                      title:
                        type: string
                      type:
                        $ref: '#/components/schemas/ObligationType'
                      amount:
                        $ref: '#/components/schemas/MoneyAmount'
                      dueDay:
                        type: integer
                        minimum: 1
                        maximum: 31
      responses:
        '200':
          description: All obligations after replace
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Obligation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/onboarding/debts:
    post:
      summary: Set debts (replace semantics)
      operationId: postOnboardingDebts
      tags: [Onboarding]
      x-stability: stable
      description: >
        Replaces all debts. Sorts by APR descending; highest-APR debt gets
        isFocusDebt=true.
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debts]
              properties:
                debts:
                  type: array
                  items:
                    type: object
                    required: [title, balance, apr, minPayment]
                    properties:
                      title:
                        type: string
                      type:
                        $ref: '#/components/schemas/DebtType'
                      balance:
                        $ref: '#/components/schemas/MoneyAmount'
                      apr:
                        type: number
                        format: float
                        description: Decimal fraction, e.g. 0.189
                      minPayment:
                        $ref: '#/components/schemas/MoneyAmount'
                      dueDay:
                        type: integer
                        minimum: 1
                        maximum: 31
      responses:
        '200':
          description: Created debts in APR-descending order
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Debt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/onboarding/ef:
    post:
      summary: Set emergency fund
      operationId: postOnboardingEf
      tags: [Onboarding]
      x-stability: stable
      description: Upserts the emergency fund record.
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentAmount:
                  $ref: '#/components/schemas/MoneyAmount'
                  description: Default 0
                targetMonths:
                  type: integer
                  description: Default 3
                currency:
                  $ref: '#/components/schemas/Currency'
                  description: Default "RUB"
      responses:
        '200':
          description: Emergency fund record
          content:
            application/json:
              schema:
                type: object
                required: [id, userId, currentAmount, targetMonths, currency, updatedAt]
                properties:
                  id:
                    type: string
                  userId:
                    type: string
                  currentAmount:
                    $ref: '#/components/schemas/MoneyAmount'
                  targetMonths:
                    type: integer
                  currency:
                    $ref: '#/components/schemas/Currency'
                  updatedAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/onboarding/complete:
    post:
      summary: Complete onboarding and create first period
      operationId: postOnboardingComplete
      tags: [Onboarding]
      x-stability: stable
      description: >
        Finalizes onboarding. Requires at least one active income.
        Closes any existing ACTIVE period (marks it COMPLETED), calculates
        new period bounds and S2S, creates the first ACTIVE period,
        sets user.onboardingDone=true.
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Created period and S2S result
          content:
            application/json:
              schema:
                type: object
                required: [period, s2s]
                properties:
                  period:
                    $ref: '#/components/schemas/Period'
                  s2s:
                    $ref: '#/components/schemas/S2SResult'
        '400':
          description: No active income found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Dashboard ────────────────────────────────────────────────────────────────

  /tg/dashboard:
    get:
      summary: Get main dashboard data
      operationId: getDashboard
      tags: [Dashboard]
      x-stability: stable
      description: >
        Returns the main dashboard payload. s2sDaily and s2sToday are computed
        live on every request using carry-over formula — they are NOT read from
        Period.s2sDaily. If user has no active period, all numeric fields are 0
        and all arrays are empty.
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Expenses ─────────────────────────────────────────────────────────────────

  /tg/expenses:
    post:
      summary: Create an expense
      operationId: createExpense
      tags: [Expenses]
      x-stability: stable
      description: >
        Creates an expense in the current active period.
        WARNING: No idempotency key — retrying a failed request creates a
        duplicate expense.
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  $ref: '#/components/schemas/MoneyAmount'
                  description: Must be > 0
                note:
                  type: string
                  nullable: true
      responses:
        '201':
          description: Created expense
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          description: Invalid amount or no active period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidAmount:
                  value:
                    error: "Invalid amount"
                noActivePeriod:
                  value:
                    error: "No active period. Complete onboarding first."
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      summary: List expenses (paginated, scoped to active period)
      operationId: listExpenses
      tags: [Expenses]
      x-stability: stable
      description: >
        Returns paginated expense list. Scoped to the current ACTIVE period if
        one exists; returns all expenses if no active period.
      security:
        - TelegramAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Paginated expenses
          content:
            application/json:
              schema:
                type: object
                required: [expenses, total, periodId]
                properties:
                  expenses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Expense'
                  total:
                    type: integer
                    description: Total count for pagination
                  periodId:
                    type: string
                    nullable: true
                    description: Active period ID, or null if none
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/expenses/today:
    get:
      summary: Get today's expenses
      operationId: getTodayExpenses
      tags: [Expenses]
      x-stability: stable
      description: >
        Returns all expenses with spentAt >= today 00:00:00 UTC, sorted by
        spentAt descending. Note: "today" is UTC midnight, not the user's
        local midnight.
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Today's expenses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Expense'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/expenses/{id}:
    delete:
      summary: Delete an expense
      operationId: deleteExpense
      tags: [Expenses]
      x-stability: stable
      description: Deletes an expense. Verifies that the expense belongs to the requesting user.
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Expense deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Periods ──────────────────────────────────────────────────────────────────

  /tg/periods/current:
    get:
      summary: Get current active period
      operationId: getCurrentPeriod
      tags: [Periods]
      x-stability: stable
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Current active period with expenses, or null if none
          content:
            application/json:
              schema:
                nullable: true
                allOf:
                  - $ref: '#/components/schemas/Period'
                  - type: object
                    properties:
                      expenses:
                        type: array
                        items:
                          $ref: '#/components/schemas/Expense'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/periods/last-completed:
    get:
      summary: Get last completed period summary
      operationId: getLastCompletedPeriod
      tags: [Periods]
      x-stability: needs-verification
      description: Returns a summary of the most recently completed period, or null.
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Last completed period summary, or null if none
          content:
            application/json:
              schema:
                nullable: true
                type: object
                required: [id, startDate, endDate, daysTotal, s2sPeriod, s2sDaily, totalSpent, saved, overspentDays, currency, topExpenses]
                properties:
                  id:
                    type: string
                  startDate:
                    type: string
                    format: date-time
                  endDate:
                    type: string
                    format: date-time
                  daysTotal:
                    type: integer
                  s2sPeriod:
                    $ref: '#/components/schemas/MoneyAmount'
                  s2sDaily:
                    $ref: '#/components/schemas/MoneyAmount'
                    description: Stored snapshot
                  totalSpent:
                    $ref: '#/components/schemas/MoneyAmount'
                  saved:
                    type: integer
                    description: "s2sPeriod - totalSpent (may be negative)"
                  overspentDays:
                    type: integer
                    description: Count of days where spending exceeded s2sDaily
                  currency:
                    $ref: '#/components/schemas/Currency'
                  topExpenses:
                    type: array
                    description: Top 5 expenses by amount desc
                    items:
                      type: object
                      required: [amount, spentAt]
                      properties:
                        amount:
                          $ref: '#/components/schemas/MoneyAmount'
                        note:
                          type: string
                          nullable: true
                        spentAt:
                          type: string
                          format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/periods/recalculate:
    post:
      summary: Recalculate active period
      operationId: recalculatePeriod
      tags: [Periods]
      x-stability: stable
      description: >
        Recomputes period bounds using allPaydays from current active incomes,
        then recalculates S2S using current income, obligations, debts, and EF.
        Updates the Period record in DB. Use after editing income, paydays,
        obligations, or debts.
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Recalculation result
          content:
            application/json:
              schema:
                type: object
                required: [ok, s2s]
                properties:
                  ok:
                    type: boolean
                    example: true
                  s2s:
                    $ref: '#/components/schemas/S2SResult'
        '400':
          description: No active period or no active incomes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "No active period or income"
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Incomes ──────────────────────────────────────────────────────────────────

  /tg/incomes:
    get:
      summary: List all incomes
      operationId: listIncomes
      tags: [Incomes]
      x-stability: stable
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: All income records, sorted by createdAt desc
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Income'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create an income
      operationId: createIncome
      tags: [Incomes]
      x-stability: stable
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, amount, paydays]
              properties:
                title:
                  type: string
                amount:
                  $ref: '#/components/schemas/MoneyAmount'
                paydays:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                    maximum: 31
                  minItems: 1
                currency:
                  $ref: '#/components/schemas/Currency'
                frequency:
                  $ref: '#/components/schemas/IncomeFrequency'
      responses:
        '201':
          description: Created income
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Income'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/incomes/{id}:
    patch:
      summary: Update an income (partial)
      operationId: updateIncome
      tags: [Incomes]
      x-stability: stable
      description: >
        Partial update. Allowed fields: title, amount, paydays, currency,
        frequency, isActive. Does NOT trigger period recalculation.
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                amount:
                  $ref: '#/components/schemas/MoneyAmount'
                paydays:
                  type: array
                  items:
                    type: integer
                    minimum: 1
                    maximum: 31
                  minItems: 1
                currency:
                  $ref: '#/components/schemas/Currency'
                frequency:
                  $ref: '#/components/schemas/IncomeFrequency'
                isActive:
                  type: boolean
      responses:
        '200':
          description: Updated income
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Income'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete an income
      operationId: deleteIncome
      tags: [Incomes]
      x-stability: stable
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Obligations ───────────────────────────────────────────────────────────────

  /tg/obligations:
    get:
      summary: List all obligations
      operationId: listObligations
      tags: [Obligations]
      x-stability: stable
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: All obligations, sorted by createdAt desc
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Obligation'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create an obligation
      operationId: createObligation
      tags: [Obligations]
      x-stability: stable
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, amount]
              properties:
                title:
                  type: string
                amount:
                  $ref: '#/components/schemas/MoneyAmount'
                type:
                  $ref: '#/components/schemas/ObligationType'
                dueDay:
                  type: integer
                  minimum: 1
                  maximum: 31
      responses:
        '201':
          description: Created obligation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Obligation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/obligations/{id}:
    patch:
      summary: Update an obligation (partial)
      operationId: updateObligation
      tags: [Obligations]
      x-stability: stable
      description: Allowed fields: title, amount, type, dueDay, isActive.
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                amount:
                  $ref: '#/components/schemas/MoneyAmount'
                type:
                  $ref: '#/components/schemas/ObligationType'
                dueDay:
                  type: integer
                  minimum: 1
                  maximum: 31
                  nullable: true
                isActive:
                  type: boolean
      responses:
        '200':
          description: Updated obligation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Obligation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete an obligation
      operationId: deleteObligation
      tags: [Obligations]
      x-stability: stable
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Debts ─────────────────────────────────────────────────────────────────────

  /tg/debts:
    get:
      summary: List active debts
      operationId: listDebts
      tags: [Debts]
      x-stability: stable
      description: Returns non-paid-off debts sorted by APR descending.
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Active debts sorted by APR desc
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Debt'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      summary: Create a debt
      operationId: createDebt
      tags: [Debts]
      x-stability: stable
      description: >
        Creates a new debt. If no focus debt currently exists, the new debt
        becomes the focus debt automatically.
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, balance, apr, minPayment]
              properties:
                title:
                  type: string
                balance:
                  $ref: '#/components/schemas/MoneyAmount'
                apr:
                  type: number
                  format: float
                  description: Decimal fraction, e.g. 0.189 = 18.9%
                minPayment:
                  $ref: '#/components/schemas/MoneyAmount'
                type:
                  $ref: '#/components/schemas/DebtType'
                dueDay:
                  type: integer
                  minimum: 1
                  maximum: 31
      responses:
        '201':
          description: Created debt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Debt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/debts/avalanche-plan:
    get:
      summary: Get avalanche debt repayment plan
      operationId: getAvalanchePlan
      tags: [Debts]
      x-stability: provisional
      description: >
        Returns the avalanche repayment plan for all active debts.
        Extra monthly payment is estimated from current period:
        round(s2sPeriod × 0.10 / (daysTotal / 30)).
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Avalanche plan
          content:
            application/json:
              schema:
                type: object
                required: [items, totalDebt, totalMinPayments, estimatedDebtFreeMonths, estimatedTotalInterest]
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required: [debtId, title, balance, apr, minPayment, isFocus, order, estimatedMonths, totalInterest]
                      properties:
                        debtId:
                          type: string
                        title:
                          type: string
                        balance:
                          $ref: '#/components/schemas/MoneyAmount'
                        apr:
                          type: number
                          format: float
                        minPayment:
                          $ref: '#/components/schemas/MoneyAmount'
                        isFocus:
                          type: boolean
                        order:
                          type: integer
                          description: 1 = first to pay off
                        estimatedMonths:
                          type: integer
                        totalInterest:
                          $ref: '#/components/schemas/MoneyAmount'
                  totalDebt:
                    $ref: '#/components/schemas/MoneyAmount'
                  totalMinPayments:
                    $ref: '#/components/schemas/MoneyAmount'
                  estimatedDebtFreeMonths:
                    type: integer
                  estimatedTotalInterest:
                    $ref: '#/components/schemas/MoneyAmount'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/debts/{id}:
    patch:
      summary: Update a debt (partial)
      operationId: updateDebt
      tags: [Debts]
      x-stability: stable
      description: >
        Allowed fields: title, type, balance, apr, minPayment, dueDay.
        isFocusDebt cannot be set via PATCH — it is managed automatically.
        Does NOT trigger period recalculation.
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                type:
                  $ref: '#/components/schemas/DebtType'
                balance:
                  $ref: '#/components/schemas/MoneyAmount'
                  description: Must be > 0 if provided
                apr:
                  type: number
                  format: float
                  description: Decimal fraction 0–1 if provided
                minPayment:
                  $ref: '#/components/schemas/MoneyAmount'
                  description: Must be >= 0 if provided
                dueDay:
                  type: integer
                  minimum: 1
                  maximum: 31
                  nullable: true
      responses:
        '200':
          description: Updated debt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Debt'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete a debt
      operationId: deleteDebt
      tags: [Debts]
      x-stability: stable
      description: >
        Deletes the debt. If the deleted debt was the focus debt, focus is
        reassigned to the next highest-APR non-paid-off debt.
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /tg/debts/{id}/payment:
    post:
      summary: Record a debt payment
      operationId: createDebtPayment
      tags: [Debts]
      x-stability: stable
      description: >
        Records a payment on a debt. Reduces balance by amount. If balance
        reaches 0, sets isPaidOff=true, isFocusDebt=false, and reassigns focus
        to the next debt.
      security:
        - TelegramAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  $ref: '#/components/schemas/MoneyAmount'
                  description: Must be > 0
                isExtra:
                  type: boolean
                  default: false
                  description: Marks as an extra (avalanche) payment
      responses:
        '200':
          description: Payment recorded
          content:
            application/json:
              schema:
                type: object
                required: [ok, payment, newBalance]
                properties:
                  ok:
                    type: boolean
                    example: true
                  payment:
                    type: object
                    required: [id, debtId, amount, isExtra, paidAt]
                    properties:
                      id:
                        type: string
                      debtId:
                        type: string
                      amount:
                        $ref: '#/components/schemas/MoneyAmount'
                      isExtra:
                        type: boolean
                      paidAt:
                        type: string
                        format: date-time
                  newBalance:
                    $ref: '#/components/schemas/MoneyAmount'
                    description: Balance after payment
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── User ──────────────────────────────────────────────────────────────────────

  /tg/me/profile:
    get:
      summary: Get user profile
      operationId: getProfile
      tags: [User]
      x-stability: stable
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: User record with profile and subscription
          content:
            application/json:
              schema:
                type: object
                description: User record including profile and subscription fields
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/me/settings:
    get:
      summary: Get user settings
      operationId: getSettings
      tags: [User]
      x-stability: stable
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: User settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      summary: Update user settings (partial)
      operationId: updateSettings
      tags: [User]
      x-stability: stable
      description: >
        Upserts user settings. Only the listed fields are accepted; others are
        silently ignored. weeklyDigest is a dead setting — it is stored but no
        handler sends a weekly digest.
      security:
        - TelegramAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                morningNotifyTime:
                  type: string
                  pattern: '^\d{2}:\d{2}$'
                eveningNotifyTime:
                  type: string
                  pattern: '^\d{2}:\d{2}$'
                morningNotifyEnabled:
                  type: boolean
                eveningNotifyEnabled:
                  type: boolean
                paymentAlerts:
                  type: boolean
                deficitAlerts:
                  type: boolean
                weeklyDigest:
                  type: boolean
                  description: DEAD SETTING — stored but no handler sends a digest
      responses:
        '200':
          description: Updated settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /tg/me/plan:
    get:
      summary: Get user plan and subscription
      operationId: getPlan
      tags: [User]
      x-stability: stable
      description: >
        A user is PRO if user.godMode=true, OR subscription.status="ACTIVE"
        AND subscription.currentPeriodEnd > now.
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Plan info
          content:
            application/json:
              schema:
                type: object
                required: [plan, godMode, subscription]
                properties:
                  plan:
                    type: string
                    enum: [PRO, FREE]
                  godMode:
                    type: boolean
                  subscription:
                    nullable: true
                    allOf:
                      - $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Billing ───────────────────────────────────────────────────────────────────

  /tg/billing/pro/checkout:
    post:
      summary: Create Telegram Stars PRO checkout invoice
      operationId: createProCheckout
      tags: [Billing]
      x-stability: provisional
      description: >
        Creates a Telegram Stars invoice link for PRO subscription (100 Stars/month).
        Calls Telegram Bot API createInvoiceLink.

        Payment flow after success:
        1. Telegram sends successful_payment to the bot
        2. Bot calls POST /internal/activate-subscription
        3. API activates the subscription
      security:
        - TelegramAuth: []
      responses:
        '200':
          description: Invoice URL
          content:
            application/json:
              schema:
                type: object
                required: [invoiceUrl]
                properties:
                  invoiceUrl:
                    type: string
                    example: "https://t.me/$invoice..."
        '400':
          description: Already PRO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Already PRO"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          description: Telegram Bot API returned an error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: BOT_TOKEN not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── Internal ──────────────────────────────────────────────────────────────────

  /internal/store-chat-id:
    post:
      summary: Store user's Telegram chat ID
      operationId: storeChatId
      tags: [Internal]
      x-stability: stable
      description: >
        Stores the user's telegramChatId, required for push notifications.
        Called by the bot on any message from a user.
      security:
        - InternalKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telegramId, chatId]
              properties:
                telegramId:
                  oneOf:
                    - type: string
                    - type: integer
                chatId:
                  oneOf:
                    - type: string
                    - type: integer
      responses:
        '200':
          description: Stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        '400':
          description: Missing telegramId or chatId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /internal/activate-subscription:
    post:
      summary: Activate PRO subscription after Telegram Stars payment
      operationId: activateSubscription
      tags: [Internal]
      x-stability: stable
      description: >
        Activates or renews a PRO subscription after successful Telegram Stars payment.
        Upserts Subscription record (status=ACTIVE, currentPeriodEnd=now+30d).
        Creates PaymentEvent with eventType="subscription_activated".
      security:
        - InternalKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [telegramId, chargeId, amount]
              properties:
                telegramId:
                  oneOf:
                    - type: string
                    - type: integer
                chargeId:
                  type: string
                  description: Telegram payment charge ID
                amount:
                  type: integer
                  description: Stars amount paid
      responses:
        '200':
          description: Subscription activated
          content:
            application/json:
              schema:
                type: object
                required: [ok, subscription]
                properties:
                  ok:
                    type: boolean
                    example: true
                  subscription:
                    $ref: '#/components/schemas/Subscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "User not found"

# ── Tags ──────────────────────────────────────────────────────────────────────

tags:
  - name: Health
    description: Service and database health checks. No authentication required.
  - name: Onboarding
    description: >
      5-step onboarding flow. Steps 1–4 use replace semantics and can be called
      in any order. Step 5 (complete) creates the first period and must be last.
  - name: Dashboard
    description: Main dashboard data with live S2S calculations.
  - name: Expenses
    description: Expense CRUD. All writes require an active period.
  - name: Periods
    description: Period management and S2S recalculation.
  - name: Incomes
    description: Income CRUD. Changes do not auto-recalculate the period.
  - name: Obligations
    description: Obligation CRUD.
  - name: Debts
    description: Debt CRUD, payments, and avalanche plan.
  - name: User
    description: User profile, settings, and plan/subscription info.
  - name: Billing
    description: Telegram Stars billing for PRO subscription.
  - name: Internal
    description: >
      Internal routes for bot-to-API communication.
      Protected by x-internal-key. Not externally accessible in production.
